{% extends "layout.html" %}
{% block title %}Analyse{% endblock %}
{%block main %}
  <h1>Analyse des données</h1>

  <section class="container">
    <h2>Distribution du revenu médian des foyers par ethnie</h2>
    <div class="row">
      <div class="col-sm-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/distri_richest_race.png')}}" alt="">
      </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/distri_poorest_race.png')}}" alt="">
      </div>
    </div>
  </section>

{% endblock %}
