{% extends "layout.html" %}
{% block title %}Analyse{% endblock %}
{%block main %}
  <h1>Data Analysis</h1>

  <section class="container">
    <h2>Distribution of highest and lowest incomes by race</h2>
    <div class="row">
      <div class="col-sm-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/distri_richest_race.png')}}" alt="">
      </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/distri_poorest_race.png')}}" alt="">
      </div>
    </div>
  </section>

  <section class="container">
    <h2>Distribution of incomes by race</h2>
    <div class="row">
      <div class="col-sm-4">
        <img class="img-fluid" src="{{ url_for('static', filename='images/hist_white.png')}}" alt="">
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" src="{{ url_for('static', filename='images/hist_black.png')}}" alt="">
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" src="{{ url_for('static', filename='images/hist_indian.png')}}" alt="">
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" src="{{ url_for('static', filename='images/hist_asian.png')}}" alt="">
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" src="{{ url_for('static', filename='images/hist_pacific.png')}}" alt="">
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" src="{{ url_for('static', filename='images/hist_other.png')}}" alt="">
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" src="{{ url_for('static', filename='images/hist_two_or_more_races.png')}}" alt="">
      </div>
    </div>
  </section>

{% endblock %}
