{% extends "layout.html" %}
{% block title %}Analyse{% endblock %}
{%block main %}
  <h1>Data Analysis</h1>

  <section class="container mt-4">
    <h2>Before reading this study</h2>
    <p class="mt-3">The analysis you are about to read is based on data produced by the US Census Bureau, a public and federal
    organisation. The data has been taken as it was produced by the bureau, meaning also with the terminology.
    The following analysis is only an exercice of data analysis based on those numbers. It does not aim to
    highlight real economical or sociological situations that would require much more data and further investigations
    if we wanted to produce a relevant analysis. In the same way, no political opinion is expressed by this analysis.
    The word race is only used beacause of the original data.</p>

    <p class="mt-3">Please take notice that some minor changes have been made to the original data. Primarily we deleted some data
    that did not seem reliable or relevant. The data about the pacific community has been deleted because of a too much
    high margin of error risking to generate outliers. The data concerning "two or more races" has also been deleted
    beacause this notion seemed pretty unclear and could lead to misunderstandings. The consequence of these choices is
    that the row concerning Hawaii has been deleted because it no longer seemed relevant without the data about the pacific
    community. Concerning Puerto Rico, the row has been deleted because it was an outlier with very low median incomes that do
    not represent the situation on the continent.</p>
  </section>

  <section class="container mt-4">
    <h2>Distribution of highest and lowest incomes by race</h2>
    <div class="row">
      <div class="col-sm-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/distri_richest_race.png')}}" alt="">
      </div>
      <div class="col-sm-6">
        <p class="mt-3">Looking at the pie chart on the left, we see clearly two races that dominate the others
        when it comes to be the race with the highest houseold's median income in the state. Those communities are
        the asian and white communities. The conclusion we can drow for now, based on this data, is that white and asian
        houseolds are generally richer than the others. It is also clear that asian houseolds are a step above the white ones.
        Indeed, the chart shows that in 3 US states out of 4 it is the asian houseolds that have the highest median income.</p>

        <p>However this does not mean that they are always richer than other communities, huge differences can be hidden
        by this chart, and further analysis are needed to get a better insight of the economical situation of the communities
        in the US.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p class="mt-3">Looking at the pie chart on the right we can draw similar conclusions, as we did before.
        Three communities stand out, black, indian and other. Other is a bit problematic because we can not know for sure
        who it includes however based on what we know from the US population, it is highly possible that it consists of
        hispanic people.</p>
        <p>Again the chart shows one commnity with a higher frequence of representation. In this case it is the black community.
        We can see here that black houseolds have the lowest median income in 1 out of 2 states. So we may say they ususally have
        less ressources than other communities, as well as for indians and other communities.</p>
      </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/distri_poorest_race.png')}}" alt="">
      </div>
    </div>
  </section>

  <section class="container">
    <h2>Distribution of incomes by race</h2>
    <div class="row mt-5">
      <h3>Does whites and asians really have higher incomes ?</h3>
      <div class="col-sm-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/hist_white.png')}}" alt="">
      </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/hist_asian.png')}}" alt="">
      </div>
      <p class="mt-3">The chart above clearly shows that yes, white and asian houselods are globally richer than
      other houseolds with a mean of median incomes accross the US around 62 000$ for the whites and 70 000$ for the asians.
      The main difference is in the repartition of the incomes. On the one hand, the asian repartition of incomes is very
      consistent. The data is equally reparted on the histogram and the very low skewness of -0.06 confirms it. However those
      statistics do not mean that asian houseolds are riche in every states, we can notice a standard deviation of 16 262$
      with a coefficient of variation of 0.24 which pretty significant when it comes to the money a family has in a year.</p>

      <p>On the other hand, the situation is slightly different for the white houseolds. The strong positiv skewness
      indicates that the data is unequally reparted left of the median. Most of the whites houseolds make a little bit less
      thant 58 564$ each year. Here the coefficient of variation is also significant and reminds us that even if white houseolds
      are globally richer in every state, differences can be found between the houseolds of different states. Notice also that contrary
      to asian houseolds, white houseolds can reach very high incomes at more than 120 000$ in some states. This increases
      the mean</p>
    </div>
    <div class="row mt-5">
      <h3>Does blacks, indians and others really have lower incomes ?</h3>
      <div class="col-sm-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/hist_black.png')}}" alt="">
      </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/hist_indian.png')}}" alt="">
      </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/hist_other.png')}}" alt="">
      </div>
      <div class="col-sm-6 mt-5">
        <p>Based on the indicators that are the mean and the median we can state that accros the US states, black, indian and other
        houseolds are generally poorer. We use "generally" here because we have to remind us that the base studied data are
        alredy an indicator : the median income for each state.</p>
        <p>The positive skwennes indicates that the incomes are generally lower than the median, so in some states those communities
        must be much richer. A significant coefficient of variation also needs to be taken into account, the mean incomes are also
        not representative, in fact in most states those communities are much poorer. The black community for exemple with a mean
        at 38 380$ has in fact many houseolds around 30 000$.</p>
      </div>
    </div>
  </section>

  <section class="container mt-5">
    <h2>Is there a correlation between race incomes and state location ?</h2>
    <div class="row mt-5">
      <div class="col-sm-6">
        {{contengency_tab|safe}}
      </div>
      <div class="col-sm-6">
        <p>On the left, you can see a contingency table showing the median income by state and race.
        Based on this table we can see a global pattern. The median income is lowest in the southern states,
        higher in the northern states and highest in the western states.</p>

        <p>However we can not say that the incomes of a specific ethnical group is influenced by it's state location.
        The situation is pretty similar for all the groups, or the variations are not enough significant. For exemple,
        If we look at the black community, the median income is even lower in the northern states than in the southern ones.
        Considering the historical situation of black people in the southern states, we could have expect other results.</p>
      </div>
    </div>
  </section>

  <section class="container mt-5">
    <h2>Is there a correlation between state location on poorest race ?</h2>
    <div class="row mt-5">
      <div class="col-sm-6">
        <h5 class="mb-4">Contengency tab of poorest race by state location</h5>
        {{tab|safe}}
      </div>
      <div class="col-sm-6">
        <h5 class="mb-4">Khi2 contengency tab</h5>
        {{khi2|safe}}
      </div>
    </div>
    <p></p>
  </section>

{% endblock %}
